@import url(//fonts.cdnfonts.com/css/poppins);
@import url(//fonts.cdnfonts.com/css/circular-std);

.about {
  background: #FFFFFF;
  text-align: center;
  height: 75vh;
}

.landing-content h2 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #FA5D7F;
  margin-bottom: 2em;
}

.landing-content h6 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.team {
  background: linear-gradient(180deg, rgba(250, 93, 127, 0.25) 0%, rgba(250, 93, 127, 0) 100%);
  text-align: center;
  padding: 50px 0;
}

.team h1 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 1em;
}

.team p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 1em;
}

.team > div {
  overflow: hidden;
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
}

.down {
  padding: 3em 0;
}

.down img {
  margin: 1.5em;
}

.up img {
  width: 250px;
}

.investors {
  background: rgba(220, 230, 255, 0.25);
  text-align: center;
  padding: 50px 50px;
}

.investors h1 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 1em;
}

.investors p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.investors img {
  margin: 2em;
}

.join {
  display: flex;
  background: #0B0022;
  padding: 70px 50px;
  justify-content: space-around;
}

/* .join > * { flex: 1; } */

.join h1 {
  color: #FBFEFF;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 140.5%;
}

.join p {
  border: 1px solid #FBFEFF;
  border-radius: 50px;
  padding: 1.5em;
  color: #FBFEFF;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


@media (max-width: 960px) {
  .about {
    height: 80vh;
  }

  .team h1, p {
    padding: 0 30px;
  }

  .join {
    display: block;
    text-align: center;
  }
}

@media (max-width: 530px) {
  .about {
    height: 100vh;
  }
}

@media (max-width: 440px) {
  .about {
    height: 110vh;
  }
}