@import url(//fonts.cdnfonts.com/css/poppins);
@import url(//fonts.cdnfonts.com/css/circular-std);


.everyone {
  padding: 50px 50px;
}

.everyone-top {

}

.everyone-bottom {
  display: flex;
  justify-content: space-between;
}

.everyone-bottom > div {
  margin: 1.5em;
}

.icon-container {
  background: rgba(53, 67, 219, 0.25);
  border-radius: 5px;
  /* padding: 10px; */
  height: 12em;
  width: 12em;
  margin-bottom: 1em;
}

.icon-container img {
  padding: 1em 1em;
  height: 10em;
  width: 10em;
}

.everyone-bottom > div > h5 {
  font-family: Circular Std;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 1em;
}

.everyone-bottom > div > p {
  font-family: Circular Std;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1.5em;
}

.everyone-bottom > div > a:link {
  text-decoration: none;
  color: #4064FA;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.philosophy {
  background: #F1FFFC;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.philosophy-left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.philosophy-left h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
}

.philosophy-right li {
  list-style: none;
  margin-bottom: 2em;
}

.philosophy-right h6 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.philosophy-right p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.payments {
  padding: 50px 50px;
  display: flex;
  gap: 5rem;
}

.payments > * { flex: 1;}

.payments-left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.payments-left h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 0.5em;
}

.payments-left p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 1.5em;
}

.payments-left > div {
  display: flex;
  justify-content: space-between;

}

.payments-left > div li {
  list-style: none;
  margin-bottom: 1.5em;
}

.payments-right {
  text-align: center;
  padding: 5em 0;
}

.wallet {
  padding: 50px 50px;
  display: flex;
  gap: 5rem;
}

.wallet > * { flex: 1;}

.wallet-right {
  padding: 0 2em;
}

.wallet-right h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.wallet-right h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 1em;
}

.wallet-right p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 1em;
}

.wallet-right img {
  margin: 1em;
}