@import url(//fonts.cdnfonts.com/css/poppins);
@import url(//fonts.cdnfonts.com/css/circular-std);


.home {
  background: #F4F7FF;
  height: 70vh;
}

.landing-content h3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  color: #000000;
  margin-bottom: 1em;
}

.everyone {
  padding: 50px 50px;
}

.everyone-top {

}

.everyone-bottom {
  display: flex;
  justify-content: space-between;
}

.everyone-bottom > div {
  margin: 1.5em;
}

.icon-container {
  background: rgba(53, 67, 219, 0.25);
  border-radius: 5px;
  /* padding: 10px; */
  height: 12em;
  width: 12em;
  margin-bottom: 1em;
}

.icon-container img {
  padding: 1em 1em;
  height: 10em;
  width: 10em;
}

.everyone-bottom > div > h5 {
  font-family: Circular Std;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 1em;
}

.everyone-bottom > div > p {
  font-family: Circular Std;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 1.5em;
}

.everyone-bottom > div > a {
  text-decoration: none;
  color: #4064FA;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.philosophy {
  background: #F1FFFC;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.philosophy-left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.philosophy-left h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
}

.philosophy-right li {
  list-style: none;
  margin-bottom: 2em;
}

.philosophy-right h6 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #000000;
}

.philosophy-right p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
}

.payments {
  padding: 50px 50px;
  display: flex;
  gap: 5rem;
}

.payments > * { flex: 1;}

.payments-left h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.payments-left h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 0.5em;
}

.payments-left p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 1.5em;
}

.payments-left > div {
  display: flex;
  justify-content: space-between;
  font-family: 'Circular Std';
}

.payments-left > div li {
  list-style: none;
  margin-bottom: 1.5em;
}

.payments-right {
  text-align: center;
  padding: 5em 0;
}

.wallet {
  padding: 50px 50px;
  display: flex;
  gap: 5rem;
}

.wallet > * { flex: 1;}

.wallet-right {
  padding: 0 2em;
}

.wallet-right h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
  margin-bottom: 1em;
}

.wallet-right h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 1em;
}

.wallet-right p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 1em;
}

.wallet-right img {
  margin: 1em;
  height: 50px;
}

.security {
  padding: 50px 50px;
  display: flex;
  gap: 2.5rem;
  background: rgba(197, 108, 172, 0.2);
}

.security > * { flex: 1;}

.security-left img {
  margin-bottom: 1em;
}

.security-left h5 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 1em;
}

.security-left p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.security-right {
  display: flex;
  flex-wrap: wrap;
}

.security-right > div {
  background: #FFFFFF;
  padding: 1em;
  margin: 2em;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 15vw;
}

.security-right h6 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 0.5em;
}

.security-right p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #686868;
}

@media (max-width: 1030px) {
  .security-right > div {
    width: 40vw;
  }
}

@media (max-width: 960px) {
  .wallet {
    display: block;
  }

  .wallet-left {
    text-align: center;
    margin-bottom: 1em;
  }

  .payments-right {
    display: none;
  }

  .everyone-bottom {
    display: flex;
    justify-content: space-around;
  }
  
  .home {
    height: 80vh;
  }

}

@media (max-width: 768px) {
  .everyone-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .home {
    height: 80vh;
  }
}

@media (max-width: 530px) {
  .wallet-left{
    display: none;
  }

  .philosophy {
    display: block;
  }

  .philosophy-left {
    margin-bottom: 1em;
  }

  .security {
    display: block;
  }

  .security-left {
    text-align: center;
  }

  .security-right > div {
    width: 70vw;
  }
}

@media (max-width: 420px) {
  .home {
    height: 100vh;
  }
}