* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  background: linear-gradient(180deg, rgba(53, 67, 219, 0.3) 0%, rgba(250, 93, 127, 0.3) 100%);  
  height: 100vh;
}

.menu-bar {
  background: transparent;
  padding: 0 50px;
}

.menu > li {
  list-style: none;
}

.menu > li > a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #000000;
}

.logo {
  font-size: 32px;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-top: 7px;
  width: 220px;
  height: 40px;
}

.nav-links a {
  color: #000000;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgba(53, 67, 219, 0.25);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* Checkbox hack */
input[type=checkbox] {
  display: none;
}

.btn {
  border-radius: 5px;
  padding: 10px;
}

.btn-outlined-primary {
  background: rgba(53, 67, 219, 0.25);
  border: 1px solid #3543DB;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  /* height: 25rem; */
  padding: auto 50px;
}

.section > * { flex: 1; }

.section-item {
  padding: 2em;
}

.content {
  padding: 2rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
}

.section-head {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #847C7C;
}

.section-heading {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #000000;
}

.section-paragraph {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.grey {
  background: #F9F9FF;
}

.purple {
  background: rgba(53, 67, 219, 0.25);
}

.footer {
  font-family: Circular Std;
}

.money {
  font-size: 32px;
  font-weight: 900;
}

.footer-head {
  font-family: Circular Std;
  font-weight: 900;
  font-size: 16px;
}

.footer-top {
  padding: 20px 0;
  margin: 30px 40px;
  display: flex;
  justify-content: space-around;
}

.footer-top img {
  width: 200px;
  height: 50px;
}

.footer-top li {
  list-style: none;
}

.footer-bottom {
  display: flex;
  gap: 33em;
  padding: 2em;
  margin: 0 50px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-icons li {
  border: 1px solid white;
  border-radius: 5PX;
  
}

.social-icon {
  height: 25px;
}

.footer-icons li {
  list-style: none;
  padding: 10px 10px;
}

.copyright {
  align-items: center;
  justify-content: center;
  padding: 1em;
}


@media (max-width: 768px) {
  .menu {
    display: none;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .access {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu li:hover {
    display: inline-block;
  }

  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
}